@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.showpage {
  margin: 1rem 1.5rem;
  padding: 1rem;

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    display: flex;
  }

  &__banner {
    width: 15rem;
    border-radius: 0.35rem;
  }

  &__name {
    padding: 0 10rem 0 3rem;
  }

  &__location {
    padding: 0 10rem 0 3rem;
  }

  &__info {
    border: 1px solid black;
    border-radius: 0.35rem;
    padding: 1rem;
  }
}
