@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.showpage {
  margin: 1rem 1.5rem;
  padding: 1rem;

  &__details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dark-green;
    padding-bottom: 2rem;
  }

  &__heading {
    display: flex;
  }

  &__banner {
    width: 15rem;
    border-radius: 0.35rem;
  }

  &__name {
    padding: 0 10rem 0 3rem;
  }

  &__location {
    padding: 0 10rem 0 3rem;
  }

  &__info {
    background-color: #7a7f72;
    color: $main-white;
    border: 1px solid black;
    border-radius: 0.35rem;
    padding: 0.5rem 1rem;
  }

  &__prices {
    margin: 1rem 0;
    padding: 1rem 0;
  }

  &__tk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c4bdac;
    border-radius: 0.35rem;
    margin: 1rem 0;
    padding: 1rem 2rem;
  }

  &__logo {
    width: 8rem;
  }

  &__button {
    border: 1px solid #24281b;
    background-color: #24281b;
    color: white;
    font-weight: bold;
    border-radius: 0.35rem;
    padding: 0.75rem 2.5rem;

    &:hover {
      background-color: #7a7f72;
    }
  }
}
