@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

a:hover {
  background-color: yellow;
}

.show__cards {
  display: block;
  border: 1px solid rgb(112, 150, 92);
  border-radius: 0.75rem;

  @include tablet {
    margin: 1rem;
  }
}

.show__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.show__tkLogo {
  width: 8rem;
}
