@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.cards {
  display: block;
  background-color: #fcfcfc;
  border: 1px solid #c4bdac;
  border-radius: 0.75rem;
  //   box-shadow: 3px 3px 5px rgba(145, 145, 145, 0.7);

  @include tablet {
    margin: 1rem;
  }

  &:hover {
    background-color: #f7f6f3;
  }

  &__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__image {
    width: 12rem;
    margin-top: 1rem;
    border-radius: 0.75rem;
  }

  &__details {
    padding: 1rem;
  }

  &__details2 {
    margin: 1rem 1.5rem;
    padding: 1rem;
    border: 1px solid #d3c4be;
    background-color: #fcfcfc;
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px rgba(145, 145, 145, 0.7);
    text-align: center;
  }
}
