@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

// a:hover {
//   background-color: yellow;
// }

.show__cards {
  display: block;
  background-color: #fcfcfc;
  border: 1px solid #c4bdac;
  border-radius: 0.75rem;
  //   box-shadow: 3px 3px 5px rgba(145, 145, 145, 0.7);

  @include tablet {
    margin: 1rem;
  }

  &:hover {
    background-color: #f7f6f3;
    // #EFEEE
  }
}

.show__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.show__tkLogo {
  width: 8rem;
}

.show {
  &__image {
    width: 12rem;
    margin-top: 1rem;
    border-radius: 0.75rem;
  }
}
