@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding: $mobile-padding;

  &__section {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    width: 9rem;

    @include tablet {
      width: 7rem;
    }
  }

  &__title {
    padding-left: 1rem;
    font-size: 2rem;

    @include tablet {
      padding-left: 0.5rem;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__search {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    border-color: black;
  }

  &__image {
    width: 3rem;
    background-color: white;
    border-radius: 10rem;
    margin-left: 1rem;
  }
}
