*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  background-color: #d5d2c1;
  background-image: linear-gradient(
    180deg,
    #d5d2c1 0%,
    #e6e4da 50%,
    #f7f6f3 98%
  );
}
