@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  display: flex;

  &__filter {
    padding: $mobile-padding;
    display: block;
  }

  &__main {
    flex-grow: 1;
  }

  &__shows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.collapsible {
  background-color: lightgrey;
  //   color: white;
  cursor: pointer;
  //   padding: 18px;
  //   width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  //   padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
}
