@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

a,
a:visited {
  text-decoration: none;
  color: black;
}

.homepage {
  display: flex;

  &__filter {
    display: none;

    @include tablet {
      padding: $mobile-padding;
      display: block;
    }
  }

  &__main {
    flex-grow: 1;
  }

  &__trending {
    margin: 1.5rem;
  }

  &__shows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__title {
    padding: 1.5rem;
  }
}
